<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login or Register</title>
</head>
<body>
    {%if messages%}
        {% for message in messages %}
            <h3> {{message}}</h3>
        {% endfor %}
    {% endif %}
    <form action='/reg' method=post>
        {% csrf_token %}
        <p>Name: <input type="text" name='name'></p>
        <p>Username: <input type="text" name='user_name'></p>
        <p>Password: <input type="text" name='password'></p>
        <p>Confirm Password: <input type="text" name='c_password'></p>
        <p><input type='submit' value='Register'></p>
    </form>
        <form action='/login' method=post>
        {% csrf_token %}
        <p>Username: <input type="text" name='l_user_name'></p>
        <p>Password: <input type="text" name='l_password'></p>
        <p><input type='submit' value='Login'></p>
    </form>
</body>
</html>